
#show{
  background-color: black;
}
#showtime{
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: black;
  display: flex;
  position: relative;
}
#header{
  margin-left: 25%;
}
#type{
  width:70%;
  border-style: solid;
  border-color: black;
}
